<body>
    <!-- ========================================================== -->
    <!-- inicio tarjetas -->

    <section>
        <div class="contcont">
            <div class="box">
                <div class="tarjet">
                    <h2> Clima a 5 días para</h2>

                </div>
                <div class="imgBx">
                    <a href="../../assets/gallery/wallo1.jpg" target="_blank"> <img src="../../assets/gallery/wallo1.jpg"></a>
                </div>
            </div>
            <div class="box">
                <div class="tarjet">
                    <h2> CDMX</h2>
                </div>
                <div class="imgBx">
                    <a href="../../assets/gallery/wallo2.jpg" target="_blank"> <img src="../../assets/gallery/wallo2.jpg"></a>
                </div>
            </div>
            <div class="box">
                <div class="tarjet">
                    <h2>Enterate de las</h2>
                </div>
                <div class="imgBx">
                    <a href="../../assets/gallery/wallo3.jpg" target="_blank"> <img src="../../assets/gallery/wallo3.jpg"></a>
                </div>
            </div>
            <div class="box">
                <div class="tarjet">
                    <h2>noticias que tenemos para ti</h2>
                </div>
                <div class="imgBx">
                    <a href="../../assets/gallery/wallo4.jpg" target="_blank"><img src="../../assets/gallery/wallo4.jpg"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================= -->
    <!-- Fin tarjetas -->

    <div class="container p-4 superponer">
        <div>
            <button type="button" (click)="obtClima()" (cick)="agregarDato(clima)" class="btn btn-outline-primary  mt-2 min-btn">Obtener Clima CDMX</button>

            <div *ngIf="clima">
                <!-- inicio tabla -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">FECHA: </th>
                            <th scope="col">{{clima.list[4].dt_txt}}</th>
                            <th scope="col"> {{clima.list[12].dt_txt}}</th>
                            <th scope="col"> {{clima.list[20].dt_txt}}</th>
                            <th scope="col"> {{clima.list[28].dt_txt}}</th>
                            <th scope="col"> {{clima.list[36].dt_txt}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <th scope="row">LLUVIA: </th>
                            <th>{{clima.list[4].weather[0].description}}</th>
                            <td>{{clima.list[12].weather[0].description}}</td>
                            <td>{{clima.list[20].weather[0].description}}</td>
                            <td>{{clima.list[28].weather[0].description}}</td>
                            <td>{{clima.list[36].weather[0].description}}</td>

                        </tr>
                        <tr class="table-light">
                            <th scope="row">HUMEDAD:</th>
                            <th> {{clima.list[4].main.humidity}} %
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{clima.list[4].main.humidity}}%;"></div>
                                </div>
                            </th>
                            <td> {{clima.list[12].main.humidity}} %
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{clima.list[12].main.humidity}}%;"></div>
                                </div>
                            </td>
                            <td> {{clima.list[20].main.humidity}} %
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{clima.list[20].main.humidity}}%;"></div>
                                </div>
                            </td>
                            <td> {{clima.list[28].main.humidity}} %
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{clima.list[28].main.humidity}}%;"></div>
                                </div>
                            </td>
                            <td> {{clima.list[36].main.humidity}} %
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{clima.list[36].main.humidity}}%;"></div>
                                </div>
                            </td>

                        </tr>
                        <tr class="table-primary">
                            <th scope="row">TEMPERATURA: </th>
                            <td>{{clima.list[4].main.temp}} °C</td>
                            <td>{{clima.list[12].main.temp}} °C</td>
                            <td>{{clima.list[20].main.temp}} °C</td>
                            <td>{{clima.list[28].main.temp}} °C</td>
                            <td>{{clima.list[36].main.temp}} °C</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">NUBOSIDAD: </th>
                            <td>{{clima.list[4].clouds.all}} %
                                <div class="progress">
                                    <div class="progress-bartemp progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{clima.list[4].clouds.all}}%;"></div>
                                </div>
                            </td>
                            <td>{{clima.list[12].clouds.all}} %
                                <div class="progress">
                                    <div class="progress-bartemp progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{clima.list[12].clouds.all}}%;"></div>
                                </div>
                            </td>
                            <td>{{clima.list[20].clouds.all}} %
                                <div class="progress">
                                    <div class="progress-bartemp progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{clima.list[20].clouds.all}}%;"></div>
                                </div>
                            </td>
                            <td>{{clima.list[28].clouds.all}} %
                                <div class="progress">
                                    <div class="progress-bartemp progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{clima.list[28].clouds.all}}%;"></div>
                                </div>
                            </td>
                            <td>{{clima.list[36].clouds.all}} %
                                <div class="progress">
                                    <div class="progress-bartemp progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{clima.list[36].clouds.all}}%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <th scope="row">VELOCIDAD DE VIENTO: </th>
                            <td>{{clima.list[4].wind.speed}} m/s</td>
                            <td>{{clima.list[12].wind.speed}} m/s</td>
                            <td>{{clima.list[20].wind.speed}} m/s</td>
                            <td>{{clima.list[28].wind.speed}} m/s</td>
                            <td>{{clima.list[36].wind.speed}} m/s</td>
                        </tr>
                        <tr class="table-dark">
                            <th scope="row">REPRESENTACIÓN GRÁFICA: </th>
                            <td>


                                <img src="https://openweathermap.org/img/wn/{{clima.list[4].weather[0].icon}}@2x.png">
                            </td>
                            <td> <img src="https://openweathermap.org/img/wn/{{clima.list[12].weather[0].icon}}@2x.png">
                            </td>
                            <td> <img src="https://openweathermap.org/img/wn/{{clima.list[20].weather[0].icon}}@2x.png">
                            </td>
                            <td> <img src="https://openweathermap.org/img/wn/{{clima.list[28].weather[0].icon}}@2x.png">
                            </td>
                            <td> <img src="https://openweathermap.org/img/wn/{{clima.list[36].weather[0].icon}}@2x.png">
                            </td>
                        </tr>
                        <tr>


                            <td><button type="button" (click)="agregarDato(clima.list[4].dt_txt)" (click)="agregarDato(clima.list[4].weather[0].description)" (click)="agregarDato(clima.list[4].main.humidity)" (click)="agregarDato(clima.list[4].clouds.all)"
                                    (click)="agregarDato(clima.list[4].wind.speed)" (click)="aert()" class="btn btn-primary  mt-2 min-btnn">Guardar datos</button></td>

                            <td><button type="button" (click)="agregarDato(clima.list[12].dt_txt)" (click)="agregarDato(clima.list[12].weather[0].description)" (click)="agregarDato(clima.list[12].main.humidity)" (click)="agregarDato(clima.list[12].clouds.all)"
                                    (click)="agregarDato(clima.list[12].wind.speed)" (click)="aert()" class="btn btn-primary  mt-2 min-btnn">Guardar datos</button></td>
                            <td><button type="button" (click)="agregarDato(clima.list[20].dt_txt)" (click)="agregarDato(clima.list[20].weather[0].description)" (click)="agregarDato(clima.list[20].main.humidity)" (click)="agregarDato(clima.list[20].clouds.all)"
                                    (click)="agregarDato(clima.list[20].wind.speed)" (click)="aert()" class="btn btn-primary  mt-2 min-btnn">Guardar datos</button></td>
                            <td><button type="button" (click)="agregarDato(clima.list[28].dt_txt)" (click)="agregarDato(clima.list[28].weather[0].description)" (click)="agregarDato(clima.list[28].main.humidity)" (click)="agregarDato(clima.list[28].clouds.all)"
                                    (click)="agregarDato(clima.list[28].wind.speed)" (click)="aert()" class="btn btn-primary  mt-2 min-btnn">Guardar datos</button></td>
                            <td><button type="button" (click)="agregarDato(clima.list[36].dt_txt)" (click)="agregarDato(clima.list[36].weather[0].description)" (click)="agregarDato(clima.list[36].main.humidity)" (click)="agregarDato(clima.list[36].clouds.all)"
                                    (click)="agregarDato(clima.list[36].wind.speed)" (click)="aert()" class="btn btn-primary  mt-2 min-btnn">Guardar datos</button></td>

                        </tr>
                    </tbody>
                </table>
                <!-- fin tabla -->
            </div>

        </div>



    </div>

</body>